* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 5rem;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 5rem;
    background-image: url(images/bg/Header\ bg@2x.png);
    background-origin: content-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}

.logo {
    color: var(--primary-b-400, #6070FF);
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.first-paragraph {
    margin: 0.8rem 0;
    color: rgba(52, 69, 99, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
}

.text-box {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-left: 10px;
}

.text-box h1,
.first-paragraph {
    text-align: left;
}

.link {
    display: block; 
    text-align: left;
    text-decoration: none;
    font-size: large;
    color: var(--primary-b-300, #7F8CFF);
    font-weight: 400;
}

.social {
    display: flex;
    list-style: none;
    padding: 2px 2px;
    gap: 8px;
}


